<!DOCTYPE html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<base href="/" />
<title>TBD Ssh Certificate Authority</title>
<link rel="stylesheet" href="/css.css">
</head>
<body>
<?= $content ?>
</body>
</html>
