<!DOCTYPE html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<base href="/" />
<title>DeiC SSH Certificate Authority POC</title>
<link rel="stylesheet" href="/www/css.css">
</head>
<body>

<section class=ssh>
<H2>DeiC SSH Certificate Authority POC</h2>
<p>The DEiC SSH Certificate Authority creates SSH certificates based on a federated login.
<p id=principal>Hello <em>{{ .principal }}</em>
<p><iframe id=mindthegap frameborder="0" src="/www/mindthegap.html?acs=2&sp=http://ssh-ca.deic.dk" style="width: 350px; height: 100px;"></iframe>
</section>

<section id=manual>
<h2>SSH login</h2>
<p>Copy the command below to your clipboard. Execute it in a shell to upload the public key and download the SSH certificate.
<p><code id=curl></code> <button class=copy data-target=curl></button>
</section>

<section id=auto class=hidden>
<h2>Installed certificate</h2>
<pre id=cert></pre>
</section>

<script>

const buttons = document.querySelectorAll('button.copy')
buttons.forEach(b => b.addEventListener('click', e => {
    const cp = document.querySelector(`#${e.target.dataset.target}`)
    navigator.clipboard.writeText(cp.innerText).then()

    const selection = window.getSelection();
    selection.removeAllRanges();

    const range = document.createRange();
    range.selectNodeContents(cp);
    selection.addRange(range);
})
)

setCurl()

function setCurl() {
    const t = '{{ .token }}'
    const host = window.location.hostname

    let getCertCmd = `ssh -p 2022 ${host} ${t} > ~/.ssh/id_sshca.lan-cert.pub`
    document.querySelector('#curl').innerText = getCertCmd
    navigator.clipboard.writeText(getCertCmd).then()

    if (t) {
        //fetch(`http:\/\/127.0.0.1:7778/${t}`, { signal: AbortSignal.timeout(1000) }).then(response => response.text()).then(loc => window.location = loc)
        fetch(`/feedback/${t}`)
            .then(response => response.text())
            .then(data => document.querySelector('#cert').innerText = data)
            .catch(xxx => { manual = true } )
            .finally(() => {
                //controller.timeout(1000)
                document.querySelector('#manual').style.display = 'none'
                document.querySelector('#auto').style.display = 'block'
            })
    } else {
        ['principal', 'auto', 'manual'].forEach(e => document.querySelector(`#${e}`).style.display = 'none')
    }
    return false;
}
</script>
</body>
</html>
