<!DOCTYPE html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<base href="/" />
<title>DeiC SSH Certificate Authority POC</title>
<link rel="stylesheet" href="https://sshca.lan/www/css.css">
</head>
<body>
<section class=ssh>
<H2>DeiC SSH Certificate Authority POC</h2>
<p>The DEiC SSH Certificate Authority creates SSH certificates based on a federated login.
</section>
<section>
<iframe id=mindthegap frameborder="0" src="/mindthegap.html?acs=1&sp=http://ssh-ca.deic.dk" style="width: 350px; height: 100px;"></iframe>
</section>
<section id=principal>
<p>Hello <em>{{ .principal }}</em>
</section>
<section id=manual>

<h2>SSH login</h2>
<p>The command below is already copied to your clipboard.
Execute it in a shell to upload the public key and download the SSH certificate.
The SSH certificate will be valid for 24 hours
<p>For this POC the CA will use first key that the ssh client presents for it.
<p><code id=curl></code> <button class=copy data-target=curl></button>
<p>To login copy the command below and excecute it in a shell:
<p><code id=sshcmd></code> <button class=copy data-target=sshcmd></button>
</section>

<section id=web>
<h2>SSH-based weblogin</h2>
<button onclick="setCurl(1);">Weblogin</button>
<p><code id=weblogin></code> <button class=copy data-target=weblogin></button>
</section>

<section id=auto>
<h2>Installed certificate</h2>
<pre id=cert></pre>
</section>

<script>

controller = new AbortController()
const signal = controller.signal

const buttons = document.querySelectorAll('button.copy')
buttons.forEach(b => b.addEventListener('click', e => {
    const cp = document.querySelector(`#${e.target.dataset.target}`)
    navigator.clipboard.writeText(cp.innerText).then()

    const selection = window.getSelection();
    selection.removeAllRanges();

    const range = document.createRange();
    range.selectNodeContents(cp);
    selection.addRange(range);
})
)

setCurl(false)

function setCurl(weblogin) {
    const key = '~/.ssh/id_ed25519'
    const l = window.location
    const webtoken = l.host == "sshsp.lan"
    const t = '{{ .token }}'
    const host = 'sshca.lan'

    let manual = false

    document.querySelector('#mindthegap').setAttribute("src", `/mindthegap.html?acs=${window.location.toString().slice(0, -1)}&sp=http:\/\/ssh-ca.deic.dk`)

    let getCertCmd = `ssh -p 2022 sshca.lan ${t} > ~/.ssh/id_ed25519-cert.pub`
    document.querySelector('#curl').innerText = getCertCmd
    let webLoginCmd = `${getCertCmd} ;open \`ssh sshweblogin@sshsp.lan\``
    document.querySelector('#weblogin').innerText = webLoginCmd
//  const sshkeygen = `ssh-keygen -Lf "${key}-cert.pub"`
//  document.querySelector("#sshkeygen").innerText = sshkeygen
//  const sshcmd = `ssh sshfedlogin@sshserver.lan`
    const sshcmd = `ssh sshfedlogin@sshserver.lan`
    document.querySelector("#sshcmd").innerText = sshcmd
    navigator.clipboard.writeText(webtoken ? webLoginCmd : getCertCmd).then()
    if (t) {
        fetch(`http:\/\/127.0.0.1:7778/${t}`, { signal }).then(response => response.text()).then(loc => window.location = loc)
        fetch(`/feedback/${t}`)
            .then(response => response.text())
            .then(data => document.querySelector('#cert').innerText = data)
            .catch(xxx => { manual = true; console.log(manual)} )
            .finally(() => {
                //controller.abort()
                document.querySelector('#principal').style.display = t ? '' : 'none'
                document.querySelector('#auto').style.display = manual ? 'none' : ''
                document.querySelector('#manual').style.display = manual ? '' : 'none'
                document.querySelector('#web').style.display = 'none' // t ? '' : 'none'
            })
    } else {
        ['principal', 'auto', 'manual', 'web'].forEach(e => document.querySelector(`#${e}`).style.display = 'none')
    }
    return false;
}
</script>
</body>
</html>
