<!DOCTYPE html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<base href="/" />
<title>DeiC SSH Certificate Authority POC</title>
<link rel="stylesheet" href="https://sshca.lan/www/css.css">
</head>
<body>
<section class=ssh>
<H2>DeiC SSH Certificate Authority POC</h2>
<p>The DEiC SSH Certificate Authority creates SSH certificates based on a federated login.
<p>The public key for the certificate authority is:
<p><code id=certpublickey>ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJoDNr0ec0yRaDdr7NhQtJkaNNPF+QQkeINOFYlPaT0b</code> <button class=copy data-target=certpublickey></button>
</section>
<section>
<iframe id=mindthegap frameborder="0" src="/mindthegap.html?acs=1&sp=http://ssh-ca.deic.dk" style="width: 350px; height: 100px;"></iframe>
</section>
<section id=principal>
<p>Hello <em>{{ .principal }}</em>
</section>
<section id=manual>

<h2>SSH login</h2>
<p>For this POC the CA will use the public key <em>$HOME/.ssh/id_ed25519.pub</em> and create a SSH certificate <em>$HOME/.ssh/id_ed25519-cert.pub</em>. The SSH certificate will be valid for 24 hours.

<p>The command below is already copied to your clipboard. Execute it in a shell to upload the public key and download the SSH certificate.
<p><code id=curl></code> <button class=copy data-target=curl></button>
<p>For your first login copy the command below and excecute it in a shell:
<p><code id=sshcmd></code> <button class=copy data-target=sshcmd></button>
<p>For subsequent logins copy the command below and excecute it in a shell:
<p><code id=sshcmd2></code> <button class=copy data-target=sshcmd2></button>
<p>You can use <code id=sshkeygen>ssh-keygen -Lf .ssh/&lt;privat nøgle navn&gt;-cert.pub</code> <button class=copy data-target=sshkeygen></button> to see if the contents of the
certificate - e.g. if it is expired.
</section>

<section id=web>
<h2>SSH-based weblogin</h2>
<button onclick="setCurl(1);">Weblogin</button>
<p><code id=weblogin></code> <button class=copy data-target=weblogin></button>
</section>

<section id=auto>
<h2>Installed certificate</h2>
<pre id=cert></pre>
</section>

<script>

const buttons = document.querySelectorAll('button.copy')
buttons.forEach(b => b.addEventListener('click', e => {
    const cp = document.querySelector(`#${e.target.dataset.target}`)
    navigator.clipboard.writeText(cp.innerText).then()

    const selection = window.getSelection();
    selection.removeAllRanges();

    const range = document.createRange();
    range.selectNodeContents(cp);
    selection.addRange(range);
})
)

setCurl(false)

function setCurl(weblogin) {
    const key = '$HOME.ssh/id_ed25519'
    const l = window.location
    const webtoken = l.host == "sshsp.lan"
    const t = '{{ .token }}'
    const host = 'sshca.lan'

    let manual = false

    document.querySelector('#mindthegap').setAttribute("src", `/mindthegap.html?acs=${window.location.toString().slice(0, -1)}&sp=http:\/\/ssh-ca.deic.dk`)

    let getCertCmd = `ssh -i "${key}.pub" -o IdentitiesOnly=yes sshgencert@${host} ${t} > "${key}-cert.pub"`
    document.querySelector('#curl').innerText = getCertCmd
    let webLoginCmd = `ssh -i "${key}.pub" -o IdentitiesOnly=yes sshgencert@${host} ${t} > "${key}-cert.pub" ;open \`ssh sshweblogin@sshsp.lan\``
    document.querySelector('#weblogin').innerText = webLoginCmd
    const sshkeygen = `ssh-keygen -Lf "${key}-cert.pub"`
    document.querySelector("#sshkeygen").innerText = sshkeygen
    const sshcmd = `ssh sshfedlogin@test-arken.test.lan`
    document.querySelector("#sshcmd").innerText = sshcmd
    const sshcmd2 = `ssh {{ .principal }}@test-arken.test.lan`
    document.querySelector("#sshcmd2").innerText = sshcmd2
    navigator.clipboard.writeText(webtoken ? webLoginCmd : getCertCmd).then()
    let href = `http:\/\/127.0.0.1:7788/${t}`
    if (t) {
        fetch(href)
            .then(response => response.text())
            .then(data => { if (weblogin) {
                    window.location = data
                } else {
                    document.querySelector('#cert').innerText = data
                }})
            .catch(xxx => { manual = true; console.log(manual)} )
            .finally(() => {
                document.querySelector('#principal').style.display = t ? '' : 'none'
                document.querySelector('#auto').style.display = manual ? 'none' : ''
                document.querySelector('#manual').style.display = manual ? '' : 'none'
                document.querySelector('#web').style.display = t ? '' : 'none'
            })
    } else {
        ['principal', 'auto', 'manual', 'web'].forEach(e => document.querySelector(`#${e}`).style.display = 'none')
    }
    return false;
}
</script>
</body>
</html>
